<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>File system test</title>
</head>
<body>
    <h1>Home</h1>
    <p>
        Using file system resources
    </p>
    <p>
        <a class="more" href="#">Load more images</a>
    </p>
    <div id="images">
    </div>
    <script id="template" type="text/html">
        <p>
            <img src="/Content/face.png" />
        </p> 
    </script>
    <script type="text/javascript" src="/Content/jquery.min.js"></script>
    <script type="text/javascript" src="/Content/hogan.min.js"></script>
    <script type="text/javascript" src="/Content/app.js"></script>
</body>
</html>